[user]
	email = nickysn@gmail.com
	name = Nikolay Nikolov
[fetch]
  prune = true
[rebase]
  updateRefs = true
[pull]
  ff = true
  rebase = false
[merge]
  ff = only
[core]
	editor = mcedit
[include]
    path = git/aliases.gitconfig
    path = git/delta.gitconfig
[difftool "diffpdf"]
  cmd = diffpdf \"$LOCAL\" \"$REMOTE\"
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
	colorMoved = dimmed-zebra
